<html>
<head>
<title>FCC Voting App - Home</title>
<!-- Style, Link and Script tags start here 
    <link rel="stylesheet" href="css/main.css"> 
    <script src="js/banner.js"></script>--> 
    <link rel="stylesheet" href="/css/main.css">
<!-- Style, Link and Script tags end here -->
</head>

<body>
<div>
<header class="toolbar">
    Dashboard |
    <a href="/home" class="dblink">Home</a> |
    <a href="/login" class="dblink">Login</a> | 
    <a href="/signup" class="dblink">Signup</a> |
    <a href="/profile" class="dblink">Profile</a> |
    <a href="/poll/SAMPLE" class="dblink">Sample Poll</a> 
</header>
</div>
<div class="main">
Welcome home, <%=user%>
</div>



</body>
</html>
