<html>
<head>
<title>FCC Voting App - Signup</title>
<!-- Style, Link and Script tags start here 
    <link rel="stylesheet" href="css/main.css"> 
    <script src="js/banner.js"></script>--> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> <!-- load jQuery -->
    <link rel="stylesheet" href="/css/main.css">
    <script>
        function checkPasswordMatch(){
            var pwd = $("#password").val();
            var conf = $("#password-confirm").val();      
            if(pwd != conf){
                $("#divCheckPwdMatch").html("Passwords do not match.").css({"color":"red"});
                $("#signup-button").attr("disabled", "disabled");
            } else {
                $("#divCheckPwdMatch").html("Passwords match!").css({"color":"green"});
                $("#signup-button").removeAttr("disabled", "disabled");
            }
        }

        $(document).ready(function(){
            $("#signup-button").attr("disabled", "disabled");
            $("#password-confirm").keyup(checkPasswordMatch);
        });
    </script>
<!-- Style, Link and Script tags end here -->
</head>

<body>
<div>
<header class="toolbar">
    Dashboard |
    <a href="/home" class="dblink">Home</a> |
    <a href="/login" class="dblink">Login</a> | 
    <a href="/signup" class="dblink">Signup</a> |
    <a href="/profile" class="dblink">Profile</a> |
    <a href="/poll/SAMPLE" class="dblink">Sample Poll</a> 
</header>
</div>
<div class="main">
    <div class="loginpanel">
    <% if (message.length>0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <h1>Signup</h1>
    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Username</label><br>
            <input type="text" class="form-control" name="username"><br>
            <label>Password</label><br>
            <input type="password" class="form-control" name="password" id="password"><br>
            <label>Confirm Password</label><br>
            <input type="password" class="form-control" name="password-confirm" id="password-confirm"><br>
            <div class="registrationFormAlert" id="divCheckPwdMatch"></div><br>
        <button type="submit" class="signup-button" id="signup-button">Signup</button>
        </div>
    </form>

    <hr>

    <p id="form-link">Already have an account? <a href="/login">Login</a></p>
    <p id="form-link">Or go <a href="/">back to home</a></p>
    </div>




    </div>
</div>


</body>
</html>
